/* Общие стили */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Темный фон */
    color: #ecf0f1; /* Светлый цвет текста */
    line-height: 1.6;
}

h1, h2 {
    color: #fff;
}

/* Навигация */
nav {
    background-color: #1e1e1e; /* Темный фон для навигации */
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #ecf0f1; /* Белый цвет для ссылок */
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0984e3; /* Акцентный цвет для ссылок при наведении */
}

/* Основной контейнер */
.container {
    width: 85%;
    margin: 40px auto;
}



h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.paragraph {
    font-size: 20px;
    text-align: center;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.fig {
    text-align: center;
}

/* Категории */
.category {
    background-color: #2d3436; /* Темный фон для карточек категорий */
    margin: 30px 0;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

.category h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0984e3; /* Акцентный цвет для заголовков категорий */
}

.category p {
    font-size: 16px;
    color: #b2bec3; /* Светлый текст для описаний */
    margin-bottom: 20px;
}

/* Стили для продуктов */
.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.photo {
    width: 300px;
    height: 350px;

}

.product-item {
    background-color: #34495e; /* Темный фон для карточек продуктов */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.product-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.product-item img:hover {
    transform: scale(1.05);
}

.product-item h3 {
    font-size: 20px;
    color: #0984e3; /* Акцентный цвет для названия продукта */
    margin-bottom: 10px;
}

.product-item p {
    font-size: 14px;
    color: #b2bec3; /* Светлый текст для описания продуктов */
    margin-bottom: 15px;
}

.btn {
    background-color: #0984e3; /* Цвет кнопки */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #74b9ff; /* Светлый цвет кнопки при наведении */
}

/* Мобильная адаптивность */
@media (max-width: 1024px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .photo{
        width: 350px;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: 1fr;
    }
    .photo{
        width: 350px;
        height: 300px;
    }
}
